$green-100: rgba(31, 162, 137, 1);
$green-95: rgba(31, 162, 137, 0.95);
$green-90: rgba(31, 162, 137, 0.9);
$green-85: rgba(31, 162, 137, 0.85);
$green-80: rgba(31, 162, 137, 0.8);
$green-75: rgba(31, 162, 137, 0.75);
$green-70: rgba(31, 162, 137, 0.7);
$green-65: rgba(31, 162, 137, 0.65);
$green-60: rgba(31, 162, 137, 0.6);
$green-55: rgba(31, 162, 137, 0.55);
$green-50: rgba(31, 162, 137, 0.5);
$green-45: rgba(31, 162, 137, 0.45);
$green-40: rgba(31, 162, 137, 0.4);
$green-35: rgba(31, 162, 137, 0.35);
$green-30: rgba(31, 162, 137, 0.3);
$green-25: rgba(31, 162, 137, 0.25);
$green-20: rgba(31, 162, 137, 0.2);
$green-15: rgba(31, 162, 137, 0.15);
$green-10: rgba(31, 162, 137, 0.1);
$green-05: rgba(31, 162, 137, 0.05);

$black-100: rgba(0, 0, 0, 1);
$black-95: rgba(0, 0, 0, 0.95);
$black-90: rgba(0, 0, 0, 0.9);
$black-85: rgba(0, 0, 0, 0.85);
$black-80: rgba(0, 0, 0, 0.8);
$black-75: rgba(0, 0, 0, 0.75);
$black-70: rgba(0, 0, 0, 0.7);
$black-65: rgba(0, 0, 0, 0.65);
$black-60: rgba(0, 0, 0, 0.6);
$black-55: rgba(0, 0, 0, 0.55);
$black-50: rgba(0, 0, 0, 0.5);
$black-45: rgba(0, 0, 0, 0.45);
$black-40: rgba(0, 0, 0, 0.4);
$black-35: rgba(0, 0, 0, 0.35);
$black-30: rgba(0, 0, 0, 0.3);
$black-25: rgba(0, 0, 0, 0.25);
$black-20: rgba(0, 0, 0, 0.2);
$black-15: rgba(0, 0, 0, 0.15);
$black-10: rgba(0, 0, 0, 0.1);
$black-05: rgba(0, 0, 0, 0.05);

$dark-gray-100: rgba(51, 51, 51, 1);
$dark-gray-95: rgba(51, 51, 51, 0.95);
$dark-gray-90: rgba(51, 51, 51, 0.9);
$dark-gray-85: rgba(51, 51, 51, 0.85);
$dark-gray-80: rgba(51, 51, 51, 0.8);
$dark-gray-75: rgba(51, 51, 51, 0.75);
$dark-gray-70: rgba(51, 51, 51, 0.7);
$dark-gray-65: rgba(51, 51, 51, 0.65);
$dark-gray-60: rgba(51, 51, 51, 0.6);
$dark-gray-55: rgba(51, 51, 51, 0.55);
$dark-gray-50: rgba(51, 51, 51, 0.5);
$dark-gray-45: rgba(51, 51, 51, 0.45);
$dark-gray-40: rgba(51, 51, 51, 0.4);
$dark-gray-35: rgba(51, 51, 51, 0.35);
$dark-gray-30: rgba(51, 51, 51, 0.3);
$dark-gray-25: rgba(51, 51, 51, 0.25);
$dark-gray-20: rgba(51, 51, 51, 0.2);
$dark-gray-15: rgba(51, 51, 51, 0.15);
$dark-gray-10: rgba(51, 51, 51, 0.1);
$dark-gray-05: rgba(51, 51, 51, 0.05);

$white-100: rgba(255, 255, 255, 1);
$white-95: rgba(255, 255, 255, 0.95);
$white-90: rgba(255, 255, 255, 0.9);
$white-85: rgba(255, 255, 255, 0.85);
$white-80: rgba(255, 255, 255, 0.8);
$white-75: rgba(255, 255, 255, 0.75);
$white-70: rgba(255, 255, 255, 0.7);
$white-65: rgba(255, 255, 255, 0.65);
$white-60: rgba(255, 255, 255, 0.6);
$white-55: rgba(255, 255, 255, 0.55);
$white-50: rgba(255, 255, 255, 0.5);
$white-45: rgba(255, 255, 255, 0.45);
$white-40: rgba(255, 255, 255, 0.4);
$white-35: rgba(255, 255, 255, 0.35);
$white-30: rgba(255, 255, 255, 0.3);
$white-25: rgba(255, 255, 255, 0.25);
$white-20: rgba(255, 255, 255, 0.2);
$white-15: rgba(255, 255, 255, 0.15);
$white-10: rgba(255, 255, 255, 0.1);
$white-05: rgba(255, 255, 255, 0.05);

$lightest-gray-100: rgb(246, 247, 248);
$lightest-gray-95: rgba(246, 247, 248, 0.95);
$lightest-gray-90: rgba(246, 247, 248, 0.9);
$lightest-gray-85: rgba(246, 247, 248, 0.85);
$lightest-gray-80: rgba(246, 247, 248, 0.8);
$lightest-gray-75: rgba(246, 247, 248, 0.75);
$lightest-gray-70: rgba(246, 247, 248, 0.7);
$lightest-gray-65: rgba(246, 247, 248, 0.65);
$lightest-gray-60: rgba(246, 247, 248, 0.6);
$lightest-gray-55: rgba(246, 247, 248, 0.55);
$lightest-gray-50: rgba(246, 247, 248, 0.5);
$lightest-gray-45: rgba(246, 247, 248, 0.45);
$lightest-gray-40: rgba(246, 247, 248, 0.4);
$lightest-gray-35: rgba(246, 247, 248, 0.35);
$lightest-gray-30: rgba(246, 247, 248, 0.3);
$lightest-gray-25: rgba(246, 247, 248, 0.25);
$lightest-gray-20: rgba(246, 247, 248, 0.2);
$lightest-gray-15: rgba(246, 247, 248, 0.15);
$lightest-gray-10: rgba(246, 247, 248, 0.1);
$lightest-gray-05: rgba(246, 247, 248, 0.05);

$purple-100: rgba(105, 111, 251, 1);
$purple-95: rgba(105, 111, 251, 0.95);
$purple-90: rgba(105, 111, 251, 0.9);
$purple-85: rgba(105, 111, 251, 0.85);
$purple-80: rgba(105, 111, 251, 0.8);
$purple-75: rgba(105, 111, 251, 0.75);
$purple-70: rgba(105, 111, 251, 0.7);
$purple-65: rgba(105, 111, 251, 0.65);
$purple-60: rgba(105, 111, 251, 0.6);
$purple-55: rgba(105, 111, 251, 0.55);
$purple-50: rgba(105, 111, 251, 0.5);
$purple-45: rgba(105, 111, 251, 0.45);
$purple-40: rgba(105, 111, 251, 0.4);
$purple-35: rgba(105, 111, 251, 0.35);
$purple-30: rgba(105, 111, 251, 0.3);
$purple-25: rgba(105, 111, 251, 0.25);
$purple-20: rgba(105, 111, 251, 0.2);
$purple-15: rgba(105, 111, 251, 0.15);
$purple-10: rgba(105, 111, 251, 0.1);
$purple-05: rgba(105, 111, 251, 0.05);

$primary-color-100: $purple-100;
$primary-color-95: $purple-95;
$primary-color-90: $purple-90;
$primary-color-85: $purple-85;
$primary-color-80: $purple-80;
$primary-color-75: $purple-75;
$primary-color-70: $purple-70;
$primary-color-65: $purple-65;
$primary-color-60: $purple-60;
$primary-color-55: $purple-55;
$primary-color-50: $purple-50;
$primary-color-45: $purple-45;
$primary-color-40: $purple-40;
$primary-color-35: $purple-35;
$primary-color-30: $purple-30;
$primary-color-25: $purple-25;
$primary-color-20: $purple-20;
$primary-color-15: $purple-15;
$primary-color-10: $purple-10;
$primary-color-05: $purple-05;

// $primary-color-100: $green-100;
// $primary-color-95: $green-95;
// $primary-color-90: $green-90;
// $primary-color-85: $green-85;
// $primary-color-80: $green-80;
// $primary-color-75: $green-75;
// $primary-color-70: $green-70;
// $primary-color-65: $green-65;
// $primary-color-60: $green-60;
// $primary-color-55: $green-55;
// $primary-color-50: $green-50;
// $primary-color-45: $green-45;
// $primary-color-40: $green-40;
// $primary-color-35: $green-35;
// $primary-color-30: $green-30;
// $primary-color-25: $green-25;
// $primary-color-20: $green-20;
// $primary-color-15: $green-15;
// $primary-color-10: $green-10;
// $primary-color-05: $green-05;

.primary-color-05 {
  color: $primary-color-05 !important;
}
.primary-bg-05 {
  background-color: $primary-color-05 !important;
}
@for $transparency from 2 through 20 {
  $i: $transparency * 5;

  .primary-color-#{$i} {
    color: rgba(91, 97, 237, ($transparency * 0.05)) !important;
  }
  .primary-bg-#{$i} {
    background-color: rgba(91, 97, 237, ($transparency * 0.05)) !important;
  }
}

$dark-background-color: rgba(27, 30, 43, 1);
