.home-intro {
  & {
    font-size: 2rem;
    font-weight: 700;
    line-height: 1.5;
    word-break: normal;
    margin: 0;
  }
}

@media screen and (max-width: 768px) {
  .home-intro {
    & {
      word-break: break-all;
    }
  }
}

/* ========================= */

.home-intro {
  & * {
    color: $black-60;
  }
  & .highlight {
    color: $black-100;
  }
}
.dark .home-intro {
  & {
    color: $white-60;
  }
  & .highlight {
    color: $white-100;
  }
}
